body {
    background-color: #e5e5e5;
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    margin: 0;
  }

  .ribbon-container {
    position: relative;
    font-size: 16px;
  }

  .ribbon {
    background-color: #004080; /* Darker blue color for the ribbon */
    color: #fff;
    text-align: left;
    padding: 15px; /* Increase the padding for a larger ribbon */
    font-size: 24px; /* Increase the font size */
    cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
  }

  .login-link,
  .home-link,
  .history-link {
    position: absolute;
    top: 17px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: inherit;
  }

  .login-link {
    right: 10px;
  }

  .history-link {
    right: 67px; /* Adjust as needed for positioning */
  }
  .home-link {
    right: 130px; /* Adjust as needed for positioning */
  }

  .history-text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  #message-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px; /* Reduce the space between ribbon and chat container */
    display: flex;
    flex-direction: column;
  }

  #message-form input,
  #message-form button {
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    width: 40%;
  }

  #message-form button {
    background-color: #004080; /* Darker blue color for the button */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  /* Centered success message */
  .success-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }

  /* Centered error message */
  .error-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: red;
  }